.basicLayout {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: #000;
  /* color: #fff; */
}

.pageBody {
  /* flex: 1; */
  padding-bottom: 1.5vw;
}

.footer {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
}