<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords" content="云平台,祥生,答题" />
  <meta name="description" content="
      全国乳腺超声人工智能人机大赛" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>全国乳腺超声人工智能人机大赛</title>
  <link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>favicon.png" />
  <script>
    window.routerBase = "<%= htmlWebpackPlugin.files.publicPath %>";
  </script>
</head>

<body>
  <noscript>浏览器版本过低,请升级后在尝试答题!</noscript>
  <div id="root"></div>
</body>

</html>