<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords" content="云平台,祥生,掌超" />
  <meta name="description" content="
      掌超报告" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>掌超报告</title>
  <!-- <link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>favicon.png" /> -->
  <script>
    window.routerBase = "<%= htmlWebpackPlugin.files.publicPath %>";
  </script>
</head>

<body>
  <noscript>浏览器版本过低,请升级后在尝试使用!</noscript>
  <div id="root"></div>
</body>

</html>