<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords" content="云平台,祥生,掌超" />
  <meta name="description" content="
      掌超报告" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <title>掌超报告</title>
  <!-- <link rel="icon" href="<%= htmlWebpackPlugin.files.publicPath %>favicon.png" /> -->
  <!-- <script>
    window.routerBase = "<%= htmlWebpackPlugin.files.publicPath %>";
  </script> -->
  <script type="text/javascript">
    window.PubSub = {
      handlers: {},
      sub: function (key, handler) {
        if (!handler) {
          return
        }
        if (!(key in this.handlers)) {
          this.handlers[key] = []
        }
        this.handlers[key].push(handler)
        if (this.handlers[key].length === 0) {
          delete this.handlers[key]
        }
        return this
      },
      unsub: function (key) {
        if (!key || !this.handlers.hasOwnProperty(key)) return;
        this.handlers[key].pop();
        if (this.handlers[key].length === 0) {
          delete this.handlers[key]
        }
      },
      pub: function (key) {
        var handlerArgs = Array.prototype.slice.call(arguments, 1)
        if (!this.handlers[key]) {
          return
        }
        if (isNaN(key)) {
          for (var i = 0;
            (this.handlers[key] && i < this.handlers[key].length); i++) {
            this.handlers[key][i].apply(this, handlerArgs)
          }
        } else {
          var handlerArr = this.handlers[key]
          var handlerItem
          if (handlerArr) {
            while (handlerArr.length > 0) {
              handlerItem = handlerArr.pop()
              handlerItem.apply(this, handlerArgs)
            }
          }
          if (handlerArr && handlerArr.length === 0) delete this.handlers[key]
        }
      },
      clear: function () {
        this.handlers = {}
      }
    }
  </script>
  <script type="text/javascript">
    window.imageNames = ['1.png', '2.png', '3.png', '4.png', '5.png'];
    window.ZC = {
      init: function() {
        invokeCSharpAction('ZC.inited');
      },
      inited: function(data) {
        // alert(JSON.stringify(data));
        PubSub.pub('inited', data);
        // PubSub.unsub('inited');
      },
    };

    window.onload = function() {
      ZC.init();
    }

    function invokeCSharpAction(methodName) {
      const dataStr = JSON.stringify({
        Locale: 'zh-CN',
        Patient: {
          Name: '李四*',
          Age: '23',
          Sex: '男',
          ID: '13885452568',
        },
        ImageNames: ['1.png', '2.png', '3.png', '4.png', '5.png'],
        todoList: [123, 234]
      });
      setTimeout(() => {
        eval(methodName + "(" + dataStr + ")");
      }, 500);
    };
  </script>
</head>

<body>
  <noscript>浏览器版本过低,请升级后在尝试使用!</noscript>
  <div id="root"></div>
</body>

</html>